.footer{
  /*border-top: 1px solid lightgrey;*/
  text-align: right;
  padding: 26px 75px;
  background-color: #677783;
  color: white;
}
.footer-nav{
  padding: 0 70px 30px 70px;
}
.footer a{
  color: inherit;
}
