/* Affix for hiding the top Menu/Infos - Bringing the navbar on top*/

body{
  color: #466666;
}
p{
  font-size: 18px;
  line-height: 30px;
}
a{
  line-height: 30px;
  cursor: pointer;
}
h1{
  font-size:47px;
}
h2{
  font-size: 40px;
  padding-bottom: 20px;
}
h4{
  margin: 14px 0;
  padding: 5px 0;
  font-size: 30px;
  height: auto;
}
h5{
  font-size: 22px;
  height: auto;
  margin: 0;
}
.p_br{
  line-height: 30px;
}


.testcol{
  border: 1px solid black;
  width: 100%;
  height: 1000%;
}

/*the box above the navbar*/
.container>.navbar-collapse{
  margin: auto;
}
.top-box{

    margin: 0 45px 0px 55px;
    padding: 40px 0 0px 0;
}
@media (max-width: 600px) {
    .top-address{
        display: none;
    }
}
 .lang-button{
    border: none;
}

.button-container .btn{
  color: inherit;
  margin: 0 5px 5px 0;

    padding-left: 12px;
    padding-right: 12px;
}
.lang-button .btn {
  margin-bottom: 0;
  color: #8C8C8C;
}
.button-container{
  position: absolute;
  right: 25%;
  bottom: 0;
}
.button-container .btn p{
  margin-bottom: 0;
  color: #8C8C8C;
}
#contact-form div{
  margin: 5px auto;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    height: 35px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.mySearch{
  position: absolute;
  width: 25%;
  right: 0;
  bottom: 0;
  padding: 0 0 5px 5px;
}
.teaser-container p{
  padding-bottom: 20px;
}

.teaser-result-container{
  margin: auto;
  padding: 20px 50px;
  height: auto;
  display: table;
}
.teaser-result-container .col-sm-3{
  max-width: 400px;
}
.teaser-result-container.row, .well>img{
  width: 100%;
  margin: auto;
  height: 270px;
  object-fit: cover;
}
.well{
  position: relative;
background-color: transparent;
border: none;
box-shadow: none;
-webkit-box-shadow: none;
height: 100%;
padding-bottom: 75px;
}
.contact-box .cta-button{
  left: 20px;
  position: static;
}
.cta-button a{
  text-decoration: none;
  color: inherit;
}

.contact-img{
  width: auto;
  margin: auto;
  height: 180px;
  object-fit: cover;
  padding: 5px 20px 5px 5px;
}

.contact-box{
  padding-top: 15px;
  height: auto;
  background-color: rgba(103, 119, 131, .15);
  text-align: center;
  padding-bottom: 90px;
}

.last-box{
  padding-bottom: 0;
  margin-bottom: 95px;

}

.well h4{
  height: auto;
  vertical-align: middle;
  padding-bottom: 10px;
}
.well>p{
    height: auto;

}
.center{
  margin-top: 85px;
  display: inline-block;
  text-align: left;
  width: 380px;
}
.cta-button{
    background-color: #B7121D;
    z-index: 0;
  /*  position:absolute; */
    bottom:20px;
    padding: 10px;
    color: white;
    font-weight: 500;
    border: none;
}
.cta-button:hover{
  background-color: #9E0004;
  color: white;
}
.cta-button>img{
  width: 7px;
  height: 10px;
  margin-right: 6px;
}

.product-main-picture{
  position: relative;
}
.product-main-picture img{
  height: 700px;
  width: 100%;
  object-fit: cover;
}
.product-main-picture .header-text{
  bottom: 0px;
  width: 100%;
}
.product-main-picture .header-text h2{
  font-weight: 200;
}
.product-main-picture .header-text .btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 22px;
}

.product-spec-container{
  margin: 70px auto;
  max-width: 1400px;
  height: 500px;
  overflow:hidden;
  font-size: 22px;
  font-family: inherit;
  font-weight: 100!important;
  background-color: #f2f2f2;
}
.product-spec-container img{
  position: relative;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.firstText{
  padding: 50px 0 0;
}

.contentwrapper{
  z-index: -10;
  background-image: linear-gradient(#f2f2f2, white);
  padding: 0;
  margin: 0 0 0px 0;
}

/*teaser boxen*/

.product-container{
  padding: 95px 0;
  height: 500px;
}
.product-container-small{
  padding: 35px 0;
  height: 300px;
}
.product-image-container-small img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  padding: 0;
}
.product-text-container-right-small{
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -100px;
}
.product-text-container-left-small{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -100px;
}

.product-image-container{
  margin-top: 0;
}

@media (min-width: 769px) {
  .product-image-container{
    float: left;
    display: block;
    margin-right: 3.48259%;
    width: 48.25871%;
  }
}
@media (min-width: 481px) {
  .product-image-container{
    margin: 0;
    max-width: none;
    padding: 0;
  }
}
  .product-image-container img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 0;
  }

  .product-text-container-left{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -150px;
    padding-right: 35px;
  }
  .product-text-container-right{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -150px;
    padding-left: 35px;
  }
  .product-container .cta-button{
    position: static;
  }
  .product-container h2{
    margin-top: 0;
  }
  .product-text-container-left .cta-button, .product-text-container-right .cta-button{
    margin-top: 20px;
    bottom: auto;
  }
  .image-float-right{
    float: right;
  }

.tech-details-box{
  padding: 15px 95px 0 95px;
  height: 800px;
  padding-bottom: 90px;
  background-color: rgba(103, 119, 131, .15);

}
.tech-details-box .product-text-container-right{
  top: 30%;
}
.tech-details-box h1{
  padding-bottom: 20px;
  text-align: center;
}
.tech-details-img{
  padding: 50px 0 0;

}
.tech-details-box img{

  height: 500px;
  object-fit: cover;
  padding: 0;
}

.download-box{
  padding-top: 15px;
  height: auto;
  padding-bottom: 90px;
  background-color: rgba(103, 119, 131, .35);
  text-align: center;
}
.download-box h1{
  padding-bottom: 20px;
}

.scroll-box{
  padding-left: 0;
  padding-right: 50px;
}
.scroll-box a{
    font-size: 18px;
}
.scroll-box .well{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

.scroll-box .well p{
  height: 100px;
}
.section h2{
  padding: 0;
}
.section h3{
  padding-bottom: 10px;
}
.section{
/*  padding-top: 180px;*/
}
.section .product-text-container-right{
  margin-top: -170px;
}

.generated-products .row div div{
/*  padding-left: 0;
  padding-right: 0; */
  padding: 10px;
}
.generated-products >.row >div>div{
  padding-left: 0;
}

.generated-products h3{
  padding: 30px 0 20px  0;
}

.generated-products select{
  background-color: transparent;
  font-size: 18px;
  margin-top: 3px;
  margin-left: 5px;
  padding: 2px;
}

.select-result{
  margin: 5px 0;
  padding: 5px 0;
  border-top: 1px solid #63757F;
  /*background: rgba(103, 119, 131, .35); */
}
.generated-products a{
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
}
.generated-products a::before{
  content: url('../images/linkpfeil-rot.gif');
  padding-right: 8px;
  float: left;
  -moz-transition:0.5s all;
  -webkit-transition:0.5s all;
}
.readMore-Text:hover::before{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  padding-top: 7px;
}


.result-teaser-text, .result-readmore{
  margin-top: 0px;
  padding-top: 0;
}

.info-container{
  position: relative;
  top: 0px;
  margin-left: 15px;
  padding-top: 30px;
  display: none;
  background: rgba(103, 119, 131, .25);
  transition: height 0.3s ease;

  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

.info-container-open{
  display:block;
  max-height: 1000px;
  opacity: 1;
}

.teaser-container-open{

}



.result-teaser-image{
  max-width: 100%;
  padding-left: 20px!important;
  overflow: hidden;
}



.result-inner-picture img{
  margin-bottom: 20px;
  width: 100%;
  object-fit: cover;
  padding: 0;
}

.teaser-result-container{
  cursor: pointer;
  margin: 15px;
  background: rgba(103, 119, 131, .25);
  /*border-top: 1px solid #677783;*/
}

.max-items{
  margin:0;
  padding: 4px 12px !important;
}

.max-items:hover{
  background: rgba(103, 119, 131, .35);
}

.big-frame{
  width: 100%;
  float: left;
}
.small-frame{
  width: 45%;
  float: left;
  height: 180px;
}
.small-frame>.result-teaser-image>img{
  max-height: 140px;
    padding: 0;
    width: 100%;
}

#toggle-result-view{
  cursor: pointer;
  float: right;
  font-size: 26px;
  padding-top: 2px;
}

.active-button{
  background: rgba(103, 119, 131, .25);
}

.pages-container span{
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
}
#generated-results{
  padding-left: 0;
  padding-right: 0;
}
.list-icon{
  float: left;
  width: auto;
  height: 85px;
}
.bullet-point{
width: 100%;
height: 100px;
}
.bullet-point h6{
  font-size: 23px;
  margin: 0;
}
.bullet-point p{
  margin: 0;
}
.bullet-point-list{
  max-width: 700px;
}
.bullet-text{
  padding-top : 15px;
  padding-left: 100px
}

.scroll-box .well img{
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  width: auto;
  height: 150px;
}
.scroll-box .well h4{
  margin-top: 150px;
}

.contentwrapper>.row{
  margin-right: auto;
}
